@main("Watplaces") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/landing.css")">

  <div class="window" id="headingWindow">
    <h1 class="text-center">Find your ride</h1>
    <div class="row">
    <form class="form-inline text-center boaty-search" action="/trips">
      <div class="form-group">
        @*<label for="email">Email address:</label>*@
        <input type="text" name="from" class="form-control input-lg" id="email" placeholder="From..">
      </div>
      <div class="form-group">
        @*<label for="pwd">Password:</label>*@
        <input type="text" name="to" class="form-control input-lg" id="pwd" placeholder="To..">
      </div>
      <button type="submit" value="Submit" class="btn btn-info btn-lg">Go</button>
    </form>
    </div>

  </div>

  <img src="@routes.Assets.at("images/skyline.jpg")" class="img-responsive" alt="skyline">


  <div class="window" id="missionWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>How does Boaty work?</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-user text-info"></span> Shared economy </h3>
        <p> Sharing boat rides between people. Fill any empty seat on your boat on your ride.
        Have some company and earn money for it!</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-search text-info"></span> Find a ride</h3>
        <p>Search for a job or a housing in thousands of rated places by past J1 participants</p>
        <a href="/ratings" class="btn btn-default" role="button">Search</a>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-plus text-info"></span> Create a ride</h3>
        <p>Easily connect to people going to same city, working for a same employer,
          having same agency as you or any other registered user</p>
        <a href="/ratings" class="btn btn-default" role="button">Create</a>
      </div>


    </div>
  </div>


  <script>

//          $("#firstWindow").css("height", $(window).height() ); /*- $(".navbar").height()*/

  </script>

}
