@main("Watplaces") {

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/landing.css")">

  <div class="window" id="headingWindow">
    <h1 class="text-center">Find your ride</h1>
    <div class="row">
    <form class="form-inline text-center boaty-search" action="/trips">
      <div class="form-group">
        @*<label for="email">Email address:</label>*@
        <input type="text" name="from" class="form-control input-lg" id="email" placeholder="From..">
      </div>
      <div class="form-group">
        @*<label for="pwd">Password:</label>*@
        <input type="text" name="to" class="form-control input-lg" id="pwd" placeholder="To..">
      </div>
      <button type="submit" value="Submit" class="btn btn-info btn-lg">Go</button>
    </form>
    </div>

  </div>

  <img src="@routes.Assets.at("images/cro_island_1.jpg")" class="img-responsive" alt="skyline">


  <div class="window" id="missionWindow">
    <div class="row">
      <h2 class="text-center horizontalLine"><span>How does Boaty work?</span></h2>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-user text-info"></span> Shared economy </h3>
        <p> Sharing boat trips between people. Fill any empty seats on your boat on your trip.
        Have some company and earn money for it!</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-search text-info"></span> Find a trip</h3>
        <p>Search for a specific trip you want to participate in. Filter by all the possible
        destinations or filter the trips by the price if you're not sure where to go!</p>
      </div>
      <div class="col-md-4 separate">
        <h3><span class="glyphicon glyphicon-plus text-info"></span> Create a ride</h3>
        <p>Easily connect to people going to the same city or island! Share your experience
        with other registered users and save some money while enjoying it!</p>
      </div>


    </div>
  </div>


  <script>

//          $("#firstWindow").css("height", $(window).height() ); /*- $(".navbar").height()*/

  </script>

}
